@charset "UTF-8";


/* MAIN BODY FORMATTING */
body {
	background-image: 
		url(../images/new_customer1.avif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}


label {
	align: left;
	color: black;
}

#new_customer_form{
		background-color: rgba(255,255,255,0.5);
	
}

/* MAIN AREA FORMATTING */

div#new_customer_form {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

div#facilities {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

div#activities {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

.customer_labels {
	text-align: right;
	font-family: sans-serif;
	font-weight: bold;
}

.customer_data {
	text-align: left;
	font-family: sans-serif;
}



.formLabels {
	width: 20%;
	text-align: right;
}

.inline {
	display: inline;
}