@charset "UTF-8";


/* MAIN BODY FORMATTING */
body {
	background-image: 
		url(../images/new_customer1.avif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}

/* TOP BANNER FORMATTING */
section.header {
 	background-image:
      url(../images/banner2.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

section.div.a.logo{
     float:left;
/*     width: 287px; */
     height:100%;
     display:block;    
     margin: 0;
     padding: 0;
}

div.banner{
	display: inline; /* MIGHT NOT DO ANYTHING */
	height: 100px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.tagline {
  display: inline-block;
  position: relative;
  left: 20%;
  color: white;
  font-size: 60px;
  font-family: Impact, "Arial Black", sans-serif;
  font-style: oblique 90deg;
  
  
}

label {
	align: left;
	color: black;
}

#new_customer_form{
		background-color: rgba(255,255,255,0.5);
	
}

/* MAIN AREA FORMATTING */

div#new_customer_form {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

div#facilities {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

div#activities {
/*  display: inline-block;
  vertical-align: middle; */
  margin:auto;
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

.customer_labels {
	text-align: right;
	font-family: sans-serif;
	font-weight: bold;
}

.customer_data {
	text-align: left;
	font-family: sans-serif;
}



.formLabels {
	width: 20%;
	text-align: right;
}

.inline {
	display: inline;
}